@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#people-endpoint {
  transform: translateX(-1000px);
}

#planets-endpoint {
  transform: translateX(1000px);
}
