@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.character-name {
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.character-name:hover {
  font-size: 1.01rem;
  transform: translateX(0.5em);
  color: orange;
  text-decoration: underline;
}

#header {
  opacity: 0;
}

#people-endpoint {
  transform: translateX(-1000px);
}

#planets-endpoint {
  transform: translateX(1000px);
}

.people-card, .planets-card {
  opacity: 0;
}